* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    overflow-x: hidden;
    font-family: sans-serif;
}
header {
    height: 130vh;
width: 100%;
background: linear-gradient(rgba(0,0,0,0.7) , rgba(0,0,0,0.7)) ,url(images/782b7fc18a24ee997efd9a7f02fa4bf9-bg_08072019.jpg);
background-position: center;
background-size: cover;
}
header nav {
    display: flex;
    justify-content: right;
    width: 100%;
    align-items: center;
    padding: 3rem 3rem;
}
header nav a{
    text-decoration: none;
    color: black;
padding: 1rem 3.5rem;
background-color: white;
font-size: 2.4rem;
border-radius: 1.4rem;
}
header h1 {text-align: center;
color: white;
font-size: 8rem;
font-weight: 1000;

}
.login-form {
    width: 40%;
    height: 95vh;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.9);
}